body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(59, 115, 129);
}

.canvas {
    display: flex;
    gap: 0;
    justify-content: space-evenly;
    height: 500px;
    width: 500px;
    border: 1px solid red;
    background-color: #ffffff;
}

button {
    margin: 25px 0px 25px 0;
}

.buttons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.controls input {
    width: 200px;
}