body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas {
    display: flex;
    gap: 0;
    justify-content: space-evenly;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

button {
    margin: 25px 0 50px 0;
}
.pxl {
    /* width: 100px;
    height: 100px; */
    /* border: 2px solid black; */
}