body {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
}

.canvas {
    display: flex;
    gap: 0;
    justify-content: space-evenly;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}
/* 
.first{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

.pxl {
    /* width: 100px;
    height: 100px; */
    /* border: 2px solid black; */
}